.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS của FOOTER */
.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

/* CSS của logo */

.logo{
width: 100px;
}

/* CSS của từ danh mục */
.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {

  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {

  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
 
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {

  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

/* Here are just some visual styles. 🖌 */


.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

/* Credit to https://epicbootstrap.com/snippets/footer-basic */
.category{
  margin-top: 0px;
}

/* CSS của SPINNER  */

.pencil {
	display: block;
	width: 300px;
	height: 300px;
  margin-left: 500px;
  margin-top: 200px;
  
}
.pencil__body1,
.pencil__body2,
.pencil__body3,
.pencil__eraser,
.pencil__eraser-skew,
.pencil__point,
.pencil__rotate,
.pencil__stroke {
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.pencil__body1,
.pencil__body2,
.pencil__body3 {
	transform: rotate(-90deg);
}
.pencil__body1 {
	animation-name: pencilBody1;
}
.pencil__body2 {
	animation-name: pencilBody2;
}
.pencil__body3 {
	animation-name: pencilBody3;
}
.pencil__eraser {
	animation-name: pencilEraser;
	transform: rotate(-90deg) translate(49px,0);
}
.pencil__eraser-skew {
	animation-name: pencilEraserSkew;
	animation-timing-function: ease-in-out;
}
.pencil__point {
	animation-name: pencilPoint;
	transform: rotate(-90deg) translate(49px,-30px);
}
.pencil__rotate {
	animation-name: pencilRotate;
}
.pencil__stroke {
	animation-name: pencilStroke;
	transform: translate(100px,100px) rotate(-113deg);
}

/* Animations */
@keyframes pencilBody1 {
	from,
	to {
		stroke-dashoffset: 351.86;
		transform: rotate(-90deg);
	}
	50% {
		stroke-dashoffset: 150.8; /* 3/8 of diameter */
		transform: rotate(-225deg);
	}
}
@keyframes pencilBody2 {
	from,
	to {
		stroke-dashoffset: 406.84;
		transform: rotate(-90deg);
	}
	50% {
		stroke-dashoffset: 174.36;
		transform: rotate(-225deg);
	}
}
@keyframes pencilBody3 {
	from,
	to {
		stroke-dashoffset: 296.88;
		transform: rotate(-90deg);
	}
	50% {
		stroke-dashoffset: 127.23;
		transform: rotate(-225deg);
	}
}
@keyframes pencilEraser {
	from,
	to {
		transform: rotate(-45deg) translate(49px,0);
	}
	50% {
		transform: rotate(0deg) translate(49px,0);
	}
}
@keyframes pencilEraserSkew {
	from,
	32.5%,
	67.5%,
	to {
		transform: skewX(0);
	}
	35%,
	65% {
		transform: skewX(-4deg);
	}
	37.5%, 
	62.5% {
		transform: skewX(8deg);
	}
	40%,
	45%,
	50%,
	55%,
	60% {
		transform: skewX(-15deg);
	}
	42.5%,
	47.5%,
	52.5%,
	57.5% {
		transform: skewX(15deg);
	}
}
@keyframes pencilPoint {
	from,
	to {
		transform: rotate(-90deg) translate(49px,-30px);
	}
	50% {
		transform: rotate(-225deg) translate(49px,-30px);
	}
}
@keyframes pencilRotate {
	from {
		transform: translate(100px,100px) rotate(0);
	}
	to {
		transform: translate(100px,100px) rotate(720deg);
	}
}
@keyframes pencilStroke {
	from {
		stroke-dashoffset: 439.82;
		transform: translate(100px,100px) rotate(-113deg);
	}
	50% {
		stroke-dashoffset: 164.93;
		transform: translate(100px,100px) rotate(-113deg);
	}
	75%,
	to {
		stroke-dashoffset: 439.82;
		transform: translate(100px,100px) rotate(112deg);
	}
}

/* CSS CỦA BUTTON  */
div.multi-button {
	background: #fafafa;
	border: 1px solid #eaeaea;
	padding: 20px;
	border-radius: 50px;
  }
  
 button.prevNext {
	width: 50px;
	height: 50px;
	color: gray;
	background: #efefef;
	border-radius: 100%;
	border: 1px solid gray;
	transition: 1s;
	outline: none;
	-webkit-box-shadow: -2px 2px 10px 0px rgba(92,92,92,1);
	-moz-box-shadow: -2px 2px 10px 0px rgba(92,92,92,1);
	box-shadow: -2px 2px 10px 0px rgba(92,92,92,1);
  }
  
 button.prevNext:hover {
	background: #dadada;
	transition: 1s;
  }
  
 button.prevNext:focus {
	color: black;
	background: #dadada;
	border: 1px solid black;
	-webkit-box-shadow: inset -2px 2px 10px 0px rgba(92,92,92,1);
	-moz-box-shadow: inset -2px 2px 10px 0px rgba(92,92,92,1);
	box-shadow: inset -2px 2px 10px 0px rgba(92,92,92,1);
  }

  /* CSS của KHÔNG TÌM THẤY SẢN PHẨM */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

  * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  html {
	font-size: 16px;
  }
  
  body {
	font-family: 'Poppins', sans-serif;
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
  }
  
  header {
	min-height: 50px;
  }
  
  .head-text {
	text-transform: uppercase;
	width: 200px;
	height: auto;
	padding: 20px;
  }
  
  .head-text, .main-wrapper {
	width: 80%;
	margin: auto;
  }
  
  .main-wrapper {
	display: flex;
  }
  
  .scarecrow-img img {
	width: 90%;
	height: auto;
  }
  
  .error-text {
	width: 70%;
  }
  
  .error-text h2 {
	width: 80%;
	font-size: 3.75rem;
	letter-spacing: 0.5px;
	font-weight: normal;
  }
  
  .error-text p {
	width: 50%;
	padding: 5px;
  }
  
  /* button {
	cursor: pointer;
	width: auto;
	padding: 15px;
	border: 1px solid #333;
	border-radius: 3px;
	color: white;
	background-color: #333;
	text-transform: uppercase;
	margin-top: 15px;
  } */
  
  /* footer {
	padding: 15px;
	text-align: center;min-height: 50px;
	margin-top: auto;
  } */
  
  .fa-copyright {
	font-weight: lighter;
  }
  
  /* star mobile-first media queries */
  
  /* Small devices (landscape phones, 576px and up) */
  
  
  /* Medium devices (tablets, 768px and up) */
  @media (max-width: 991.9px) { 
	.main-wrapper {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	}
  
	.error-text h2 {
	  width: 100%;
	  font-size: 3rem;
	  line-height: 100%;
	  padding-top: 15px;
	}
  
	.error-text p {
	  width: 100%;
	  font-size: 0.8rem;
	  line-height: 150%;
	  padding-top: 15px;
	}
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
	.error-text h2 {
	  width: 100%;
	  line-height: 100%;
	  padding-top: 15px;
	}
  
	.error-text p {
	  width: 100%;
	  line-height: 150%;
	  padding-top: 15px;
	}
  }
  
  /* end media queries */
.pageNotFound{
	margin-top: 100px;
}
